In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
df=pd.read_csv("dataset.csv")

In [3]:
df.head()

,custid,retained,esent,eopenrate,eclickrate,avgorder,ordfreq,favday,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,6H6T6N,0,29,100.000000,3.448276,14.52,0.000000,Monday,NaN,NaN,NaN,NaN,NaN,NaN
1,APCENR,1,95,92.631579,10.526316,83.69,0.181641,Friday,NaN,NaN,NaN,NaN,NaN,NaN
2,7UP6MS,0,0,0.000000,0.000000,33.58,0.059908,Wednesday,NaN,NaN,NaN,NaN,NaN,NaN
3,7ZEW8G,0,0,0.000000,0.000000,54.96,0.000000,Thursday,NaN,NaN,NaN,NaN,NaN,NaN
4,8V726M,1,30,90.000000,13.333333,111.91,0.008850,Monday,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop('custid',axis="columns",inplace=True)

In [5]:
df.drop('Unnamed: 8',axis="columns",inplace=True)
df.drop('Unnamed: 9',axis="columns",inplace=True)
df.drop('Unnamed: 10',axis="columns",inplace=True)
df.drop('Unnamed: 11',axis="columns",inplace=True)
df.drop('Unnamed: 12',axis="columns",inplace=True)
df.drop('Unnamed: 13',axis="columns",inplace=True)

In [6]:
df.head()

   retained  esent   eopenrate  eclickrate  avgorder   ordfreq     favday
0         0     29  100.000000    3.448276     14.52  0.000000     Monday
1         1     95   92.631579   10.526316     83.69  0.181641     Friday
2         0      0    0.000000    0.000000     33.58  0.059908  Wednesday
3         0      0    0.000000    0.000000     54.96  0.000000   Thursday
4         1     30   90.000000   13.333333    111.91  0.008850     Monday

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2= df
df2.favday = le.fit_transform(df2.favday)
df2

     retained  esent   eopenrate  eclickrate  avgorder   ordfreq  favday
0           0     29  100.000000    3.448276     14.52  0.000000       1
1           1     95   92.631579   10.526316     83.69  0.181641       0
2           0      0    0.000000    0.000000     33.58  0.059908       4
3           0      0    0.000000    0.000000     54.96  0.000000       2
4           1     30   90.000000   13.333333    111.91  0.008850       1
..        ...    ...         ...         ...       ...       ...     ...
416         1     16    0.000000    0.000000    105.81  0.004515       3
417         1     47    0.000000    0.000000     91.04  0.023411       2
418         1     59   10.169492    0.000000     72.72  0.031403       0
419         1     16    0.000000    0.000000     84.04  0.250000       1
420         0      0    0.000000    0.000000     69.95  0.022277       3

[421 rows x 7 columns]

In [8]:
df2.isna().sum()

retained      0
esent         0
eopenrate     0
eclickrate    0
avgorder      0
ordfreq       0
favday        0
dtype: int64

In [9]:
y=df2['retained']
x=df2.drop(['retained'],axis=1)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.svm import SVC

svc=SVC(C= .1, kernel='linear', gamma= 1)
svc.fit(X_train,y_train)

xbg_model = XGBClassifier()
xbg_model.fit(X_train, y_train)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

model=LogisticRegression()
model.fit(X_train,y_train)

print('KNN:{:.2f}'.format(knn.score(X_test,y_test)*100))
print('RANDOM_FOREST:{:.2f}'.format(rf.score(X_test,y_test)*100))
print('LOG_REG:{:.2f}'.format(model.score(X_test,y_test)*100))
print('XGB:{:.2f}'.format(xbg_model.score(X_test,y_test)*100))
print('SVM:{:.2f}'.format(svc.score(X_test,y_test)*100))

from sklearn.ensemble import VotingClassifier
estimators=[('knn', knn), ('rf', rf), ('log_reg', model),('XGB',xbg_model),('SVM',svc)]
ensemble = VotingClassifier(estimators,voting='hard')


ensemble.fit(X_train, y_train)
final_score=ensemble.score(X_test,y_test)

print(final_score*100, '%')

[10:04:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
KNN:94.12
RANDOM_FOREST:96.47
LOG_REG:96.47
XGB:97.65
SVM:95.29
[10:04:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
96.47058823529412 %

In [12]:
df2.columns

Index(['retained', 'esent', 'eopenrate', 'eclickrate', 'avgorder', 'ordfreq',
       'favday'],
      dtype='object')

In [13]:
df.head()

   retained  esent   eopenrate  eclickrate  avgorder   ordfreq  favday
0         0     29  100.000000    3.448276     14.52  0.000000       1
1         1     95   92.631579   10.526316     83.69  0.181641       0
2         0      0    0.000000    0.000000     33.58  0.059908       4
3         0      0    0.000000    0.000000     54.96  0.000000       2
4         1     30   90.000000   13.333333    111.91  0.008850       1

In [14]:
df2.dtypes

retained        int64
esent           int64
eopenrate     float64
eclickrate    float64
avgorder      float64
ordfreq       float64
favday          int32
dtype: object

In [ ]:
print("Enter values for the following data: ")
ese=int(input("esent"))
eop=float(input("eopenrate"))
ecli=float(input("eclickrate"))
avg=float(input("avgorder"))
ordfr=float(input("ordfreq"))
favd=int(input("favday"))

Enter values for the following data:

In [16]:
dict = {'esent':[ese],
        'eopenrate':[eop],
        'eclickrate':[ecli],
        'avgorder':[avg],
        'ordfreq':[ordfr],
        'favday':[favd]
       }

df1=pd.DataFrame(dict)
display(df1)

X_test = pd.concat([X_test, df1], ignore_index = True)
X_test.reset_index()

   esent  eopenrate  eclickrate  avgorder  ordfreq  favday
0     29      100.0    3.448276     14.52      0.0       1

    index  esent   eopenrate  eclickrate  avgorder   ordfreq  favday
0       0     11   27.272727   18.181818     38.46  0.222222       1
1       1     33   42.424242   27.272727     70.92  0.136364       3
2       2     47    2.127660    0.000000     79.88  0.006932       4
3       3      0    0.000000    0.000000    109.16  0.022989       1
4       4      0    0.000000    0.000000     21.98  0.052632       0
..    ...    ...         ...         ...       ...       ...     ...
81     81     47    2.127660    0.000000     38.44  0.000000       0
82     82     45    0.000000    0.000000     52.49  0.000000       3
83     83      0    0.000000    0.000000     64.25  0.000000       2
84     84     46   80.434783   15.217391    175.10  0.141176       4
85     85     29  100.000000    3.448276     14.52  0.000000       1

[86 rows x 7 columns]

In [17]:
p=X_test.tail(1).index.item()
prediction = ensemble.predict(X_test[p:p+1])
print("Model Prediction is: ",prediction)

Model Prediction is:  [1]